.markdown {
  max-width: 100%;
}

.markdown img {
  max-width: 100%;
  height: auto;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  list-style-type: none;
}

.markdown h2 {
}

.markdown h3 {
}
